.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

header,
footer,
nav,
main,
aside {
  padding: 20px;
  border: 1px solid #bb1a1a;
  text-align: center;
}

header,
footer {
  grid-column: 1 / -1;
}
.leftSide {
  grid-column: 1;
}

.main {
  grid-column: 2;
}

.rightSide {
  grid-column: 3;
}
